extends layout

block content
  h1= title
  table
    tr
      th ID
      th Title
      th Author
      th Publish Date
      th Pages
    each book in books
      tr
        td: a(href=`/${book._id}`) #{book._id}
        td #{book.title}
        td
          each author in book.author
            a(href=`/authors/${author}`) #{author}
        td #{book.publishDate}
        td #{book.pages}
